<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Add Employee Data</title>
</head>
<body>
<center>
<br>
<br>
<br>
<h1>Add Employee Data</h1>
<form action="#" th:action="@{/save}" th:object="${emp}" method = "post">
<table border = "0">
<tr>
<td>Name </td>
<td><input type ="text" th:field = "*{name}"/><br></td>
</tr>
<tr>
<td>Designation </td>
<td><input type ="text" th:field = "*{designation}"/><br></td>
</tr>
<tr>
<td>Salary</td>
<td> <input type ="text" th:field = "*{salary}"/><br></td>
<tr>
<td></td>
<td><button type = "submit">Add</button></td>
</tr>
</table>
</form>
</center>
</body>
</html>